<template>
  <div class="contacts">
    <nav class="navbar navbar-light bg-faded">
      <form class="form-inline float-xs-right">
        <input v-model="filter_value" class="form-control" type="text" placeholder="Поиск">
      </form>
    </nav>
    <div v-if="this.contacts.length < 1">у вас пока нет контактов</div>
    <div v-if="this.contacts.length > 0">
     Количество контактов: {{this.contacts.length}}
    </div>
    <button class="btn btn-primary" v-on:click="openAddModal">Добавить контакт <i class="fa fa-plus"></i></button>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Контакты</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <th>ФИО <sortit v-on:change_sorting="updatesorting" :sort_name="'name'" :state="this.sort_dict" ></sortit> </th>
            <th>Телефон <sortit v-on:change_sorting="updatesorting" :sort_name="'phone'" :state="this.sort_dict"></sortit></th>
            <th>email <sortit v-on:change_sorting="updatesorting" :sort_name="'email'" :state="this.sort_dict"></sortit> </th>
            <th></th>
          </tr>
          <tr v-for="(item, index) in sorted_contacts">
            <th>{{ item.name }}</th>
            <th>{{ item.phone }}</th>
            <th>{{ item.email }}</th>
            <th>
              <i v-on:click="editContact(contacts.indexOf(item))" class="fa fa-edit"></i>
              <i v-on:click="removeContact(index)" class="fa fa-remove"></i>
            </th>
          </tr>
        </table>
      </div>
    </div>

   <div class="modal fade bd-example-modal-sm addcontact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm">
       <div class="modal-content">
        <h4>Добавление контакта</h4>
        <form  @submit="validateBeforeSubmit">
          <div class="column is-12">
              <label class="label">Имя</label>
              <p class="control has-icon has-icon-right">
                  <input v-model="new_contact.name" v-validate.initial="new_contact.name" data-vv-rules="required" :class="{'input': true, 'is-danger': errors.has('name') }" type="text" placeholder="Введите имя">
                  <i v-show="errors.has('new_contact.name')" class="fa fa-warning"></i>
                  <span v-show="errors.has('new_contact.name')" class="help is-danger">Введите имя</span>
              </p>
          </div>
          <div class="column is-12">
              <label class="label">Телефон</label>
              <p class="control has-icon has-icon-right">
                  <input v-model="new_contact.phone" v-validate.initial="new_contact.phone" data-vv-rules="required|regex:^([0-9+-]+)$" :class="{'input': true, 'is-danger': errors.has('phone') }" type="text" placeholder="Введите телефон">
                  <i v-show="errors.has('new_contact.phone')" class="fa fa-warning"></i>
                  <span v-show="errors.has('new_contact.phone')" class="help is-danger">Введите правильный телефон</span>
              </p>
          </div>
          <div class="column is-12">
              <label class="label">Email</label>
              <p class="control has-icon has-icon-right">
                  <input v-model="new_contact.email" v-validate.initial="new_contact.email" data-vv-rules="email" :class="{'input': true, 'is-danger': errors.has('email') }" type="text" placeholder="Введите email">
                  <i v-show="errors.has('new_contact.email')" class="fa fa-warning"></i>
                  <span v-show="errors.has('new_contact.email')" class="help is-danger">Введите правильный email</span>
              </p>
          </div>
          <p class="control">
              <button class="button is-primary" type="submit">Добавить</button>
          </p>
        </form>
       </div>
     </div>
   </div>
   <div class="modal fade bd-example-modal-sm editcontact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm">
       <div class="modal-content">
        <h4>Редактирование контакта</h4>
        <form  @submit="validateBeforeSubmitEdit">
          <div class="column is-12">
              <label class="label">Имя</label>
              <p class="control has-icon has-icon-right">
                  <input v-model="editable_contact.name" v-validate.initial="editable_contact.name" data-vv-rules="required" :class="{'input': true, 'is-danger': errors.has('name') }" type="text" placeholder="Введите имя">
                  <i v-show="errors.has('editable_contact.name')" class="fa fa-warning"></i>
                  <span v-show="errors.has('editable_contact.name')" class="help is-danger">Введите имя</span>
              </p>
          </div>
          <div class="column is-12">
              <label class="label">Телефон</label>
              <p class="control has-icon has-icon-right">
                  <input v-model="editable_contact.phone" v-validate.initial="editable_contact.phone" data-vv-rules="required|regex:^([0-9+-]+)$" :class="{'input': true, 'is-danger': errors.has('phone') }" type="text" placeholder="Введите телефон">
                  <i v-show="errors.has('editable_contact.phone')" class="fa fa-warning"></i>
                  <span v-show="errors.has('editable_contact.phone')" class="help is-danger">Введите правильный телефон</span>
              </p>
          </div>
          <div class="column is-12">
              <label class="label">Email</label>
              <p class="control has-icon has-icon-right">
                  <input v-model="editable_contact.email" v-validate.initial="editable_contact.email" data-vv-rules="email" :class="{'input': true, 'is-danger': errors.has('email') }" type="text" placeholder="Введите email">
                  <i v-show="errors.has('editable_contact.email')" class="fa fa-warning"></i>
                  <span v-show="errors.has('editable_contact.email')" class="help is-danger">Введите правильный email</span>
              </p>
          </div>
          <p class="control">
              <button class="button is-primary" type="submit">Сохранить</button>

          </p>
        </form>
       </div>
     </div>
   </div>



  </div>
</template>

<script>
// Эта функция нам нужна для передачи контекста this
function bind (func, context) {
  return function () { // (*)
    return func.apply(context, arguments)
  }
}

global.jQuery = require('jquery')
var $ = global.jQuery
window.$ = $

import Sortit from './Sortit'

export default {
  name: 'contacts',
  localStorage: {
    contacts: {
      type: Object,
      default: []

    }
  },
  components: {
    sortit: Sortit
  },
  data () {
    return {
      msg: 'Телефонный справочник',
      contacts: [],
      new_contact: {
        'name': '',
        'phone': '',
        'email': ''
      },
      editable_contact: {
        'name': '',
        'phone': '',
        'email': ''
      },
      filter_value: '',
      sort_dict: {
        'name': true,
        'phone': true,
        'email': true

      }

    }
  },
  methods: {
    validateBeforeSubmit: function (e) {
      // Note that validateAll here is missing the values parameter, which tells the validator
      // to trigger validation for attached inputs.
      this.$validator.validateAll()
      e.preventDefault()
      if (this.errors.has('new_contact.email') || this.errors.has('new_contact.phone') || this.errors.has('new_contact.name')) {
      } else {
       // this.errors.clear()
        this.addContact()
      }
    },
    validateBeforeSubmitEdit: function (e) {
      // Note that validateAll here is missing the values parameter, which tells the validator
      // to trigger validation for attached inputs.
      this.$validator.validateAll()
      e.preventDefault()
      if (this.errors.has('editable_contact.email') || this.errors.has('editable_contact.phone') || this.errors.has('editable_contact.name')) {
      } else {
       // this.errors.clear()
        this.saveContact()
      }
    },
    openAddModal: function () {
      // this.new_contact = {}
      this.errors.clear()
      $('.addcontact').modal('toggle')
    },
    addContact: function () {
      this.contacts.push({
        'name': this.new_contact.name,
        'phone': this.new_contact.phone,
        'email': this.new_contact.email
      })
      this.setContacts()
      this.errors.clear()
      this.new_contact = {}

      $('.addcontact').modal('toggle')
    },
    removeContact: function (index) {
      this.contacts.splice(index, 1)
      this.setContacts()
    },
    editContact: function (index) {
      console.log('edit with index', index)
      this.editable_contact = $.extend(true, {}, this.contacts[index])

      this.editable_contact.idx = index
      $('.editcontact').modal('toggle')
    },
    saveContact: function () {
      this.contacts[this.editable_contact.idx].name = this.editable_contact.name
      this.contacts[this.editable_contact.idx].phone = this.editable_contact.phone
      this.contacts[this.editable_contact.idx].email = this.editable_contact.email
      $('.editcontact').modal('toggle')
      this.setContacts()
    },
    getContacts: function () {
      this.contacts = this.$localStorage.get('contacts')
    },
    setContacts: function () {
      this.$localStorage.set('contacts', this.contacts)
    },
    updatesorting: function (stateDown, name) {
      // выставим изначальное состояние
      this.sort_dict = {
        'name': true,
        'phone': true,
        'email': true

      }
      // заменим нажатый
      this.sort_dict[name] = stateDown
      this.sort_dict.clicked_name = name
    }
  },
  computed: {
    sorted_contacts: function () {
      let fil = this.filter_value
      var filteredContacts = this.contacts.filter(function (contact) {
        if (fil === '') {
          return true
        }
        return contact.name.toLowerCase().indexOf(fil.toLowerCase()) > -1 || contact.phone.toLowerCase().indexOf(fil.toLowerCase()) > -1 || contact.email.toLowerCase().indexOf(fil.toLowerCase()) > -1
      })
      var sortedContacts = filteredContacts

      var sortbyletter = function (a, b, direction, field) {
        var result = Number
        if (a[field] > b[field]) {
          result = 1
        }
        if (a[field] < b[field]) {
          result = -1
        }
        if (typeof (result) === 'number') {
          if (direction === 'down') {
            return result
          } else if (direction === 'up') {
            result = result * -1
            return result
          }
        }
        return 0
      }

      var sortbynumber = function (a, b, direction, field) {
        if (direction === 'down') {
          return a[field] - b[field]
        } else {
          return b[field] - a[field]
        }
      }

      sortedContacts.sort(bind(function (a, b) {
        if (typeof (this.sort_dict.clicked_name) === 'undefined') {
          // Случай изначального положения
          return sortbyletter(a, b, 'down', 'name')
        } else if (this.sort_dict.clicked_name === 'name') {
          if (this.sort_dict.name === false) {
            return sortbyletter(a, b, 'up', 'name')
          } else {
            return sortbyletter(a, b, 'down', 'name')
          }
        } else if (this.sort_dict.clicked_name === 'phone') {
          if (this.sort_dict.phone === false) {
            return sortbynumber(a, b, 'up', 'phone')
          } else {
            return sortbynumber(a, b, 'down', 'phone')
          }
        } else if (this.sort_dict.clicked_name === 'email') {
          if (this.sort_dict.email === false) {
            return sortbyletter(a, b, 'up', 'email')
          }
        }
      }, this))

      return sortedContacts
    }
  },
  created: function () {
    // `this` points to the vm instance
    this.getContacts()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass?outputStyle=expanded">
  table{
    width: 100%;
    th{
      text-align: center;
    }
  }
  .modal{
    span{
      color: red;
      display: block;
    }
  }
  .modal-content{
    padding: 10px;
  }
</style>
