<template>

  <div class="sortit">
     <i v-on:click="switchit" v-bind:class="{ 'fa-sort-desc': state[sort_name], 'fa-sort-up': !state[sort_name] }" class="fa fa-2x"></i>
  </div>
</template>

<script>
export default {
  name: 'sortit',
  data () {
    return {
      state_down: true
      // sort_name: ''
    }
  },
  methods: {
    switchit: function () {
      this.state_down = this.state[this.sort_name]
      this.state_down = !this.state_down
      this.$emit('change_sorting', this.state_down, this.sort_name)
    }
  },
  props: {
    'sort_name': String,
    'state': Object
  },
  computed: {

  }
  // computed: {},
  // created: function () {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.sortit{
  display: inline-block;
  cursor: pointer;

}
</style>
