<template>
  <div id="app">
    <div class="logo-wrapper">
      <i class="fa fa-phone fa-3x logo "></i>
      <div class="text">Телефонный справочник</div>
    </div>

    <contacts></contacts>
  </div>
</template>

<script>
import Contacts from './components/Contacts'
global.jQuery = require('jquery')
var $ = global.jQuery
window.$ = $
window.Tether = require('tether')
require('bootstrap')

import Vue from 'vue'
import VeeValidate from 'vee-validate'

const vconfig = {
  errorBagName: 'errors', // change if property conflicts.
  delay: 0,
  locale: 'ru',
  messages: null,
  strict: true
}

Vue.use(VeeValidate, vconfig)

export default {
  name: 'app1',
  components: {
    Contacts
  }
}
</script>
<style lang="sass?outputStyle=expanded">
  $mobile: "all and (max-width: 50em)";
  $desktop: "all and (min-width: 50em) ";
  body{
    min-width: 380px;
  }
  .desktop{
      @media #{$mobile} {
          display: none!important;
      }
  }
  .mobile{
      @media #{$desktop} {
          display: none!important;
      }
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

  }
  .contacts{
    @media #{$mobile} {
      width: 100%;
    }
    @media #{$desktop} {
      width: 80%;
    }
    margin: auto;
    display: block;
  }
  .logo-wrapper{
    @media #{$mobile} {
      width: 100%;
      font-size: 14px;
      .fa-phone{
        display: none!important;
      }
    }
    @media #{$desktop} {
      width: 30%;
    }
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 3px 5px 23px rgba(0, 0, 0, 0.2);
    padding: 10px;
    .logo{
      margin: auto;
      color: #00DDEF;
      display: inline-block;
      float: left;
    }
    .text{
      font-size: 1.4em;
      line-height: 1em;
      text-transform: uppercase;
    }
    .fa-3x {
        font-size: 1.7em!important;
    }
  }
  .git{
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

</style>
